.header-container {
  display: flex;
  align-items: center;
  gap: 2vw;
  width: 100%;
  border-bottom: solid #5b48d1 1px;
  .title {
    font-weight: 700;
  }
  .icon {
    width: 50px;
    color: #5b48d1;
    height: 50px;
  }
}
