.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid #5b48d1 1px;
  .left-header {
    display: flex;
    gap: 2vw;
    align-items: center;
  }
  .right-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
  }
  .title {
    font-weight: 700;
    font-size: 30px;
  }
  .icon {
    width: 50px;
    color: #5b48d1;
    height: 50px;
  }

  .lightDark {
    display: flex;
    gap: 0.5vw;
    align-items: center;
    .lightDarkIcon {
      color: #5b48d1;
    }
  }
}
